body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 40px 0;
    background-color: #ffffff;
    color: #333;
  }
  
  .wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .abstract-wrapper {
    width: 50%;
    margin: 20px auto;
    text-align: left;
  }
  
  .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  
  .authors a {
    margin: 0 4px;
    color: #007acc;
    text-decoration: none;
    font-weight: 500;
  }
  
  .authors {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .affiliations {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .buttons {
    margin: 25px 0;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 14px;
    margin: 5px 15px; /* 上下 5px，左右 15px */
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  
  
  
  .tldr {
    text-align: left;
    max-width: 60%;
    margin: 10px auto;  /* 上下间距10px，居中 */
    color: #3333336d;
    line-height: 1.5;
    font-size: 15px;        /* 可选：稍微调小字体 */
  }

  /* .section {
    padding: 60px 40px;
    text-align: center;
  } */
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }

  .section-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #333;
  }
  
  .section-text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.7;
    color: #444;
    text-align: left;
  }
  
  .gray {
    background-color: #f4f4f4;
  }
  
  .white {
    background-color: #ffffff;
  }
  